

body {
		 background-color: linen;
		 }	
		h1{
		color: maroon;
		}	
		
		img{
		border: 1px solid red;
		padding: 5px;
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 30%;
		}
		
		
		
		
		
		